body {
    background-color: #FFACC7;
}

h1 {
    text-align: center;
    font-family: cursive;
    font-size: 45px;
    color: blue;
}

h2 {
    padding: 1% 20%;
    text-align: center;
    font-size: 45px;
    font-family: cursive;
    color: blue
}

p {
    padding: 1% 21%;
    text-align: justify;
    font-size: 20px;
    font-family: cursive;
    color: blue;
    line-height: 1.5;
}

div {
        display: flex;
        justify-content: center;
}

label {
    font-size: 1.1em;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
  }

  textarea {
    height: 200px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #FF8DC7;
    padding: 20px;
    width: 40%;
    margin: auto;
  }

.title-image {
    width: 250px;
    height: 250px;
    padding: 3%;
    border-radius: 165px;
}

footer {
  color: blue;
  text-align: -webkit-center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

a {
  text-align: -webkit-align;
}
